<div class="container">
    <div class="row">
      <div class="col text-center pt-3 pb-2">
        <h1 class="display-4">Angular Bootcamp Jan-2021</h1>
        <div class="col-lg-12">
          <p class="text-secondary mb-4">In this Angular Bootcamp 2021, we are going to learn how to make professional web application development. We will start from the beginning level, but we will take our level at any enterprise level software development development knowledge.</p>
        </div>
      </div>
    </div>
  </div>
<section class="mb-5">
  <h1 class="display-8 text-secondary mb-4">All Students</h1>
<div class="container">
<div class="row">
  <div class="col-sm mb-4">
    <app-student [data]="student1"></app-student>
  </div>
 <div class="col-sm mb-4">
   <app-student [data]="student2"></app-student>
 </div>
  <div class="col-sm mb-4">
    <app-student [data]="student3"></app-student>
  </div>
</div>
</div>
</section>
<section class="mb-5">
  <h1 class="display-8 text-secondary mb-4">All Teachers</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm mb-4">
        <app-teacher [info]="teacher1"></app-teacher>
      </div>
      <div class="col-sm mb-4">
        <app-teacher [info]="teacher2"></app-teacher>
      </div>
      <div class="col-sm mb-4">
        <app-teacher [info]="teacher3"></app-teacher>
      </div>
    </div>
  </div>
</section>
