<div class="container">
  <div class="page-header mx-auto text-center">
    <h1 class="display-4">About the BootCamp</h1>
    <p class="lead">In this Angular Bootcamp January 2021, we are going to learn how to make professional web application development.
      We will start from the beginning level, but we will take our level at any enterprise level software development knowledge.</p>
  </div>

  <h4><small>In this Angular Bootcamp January 2021, we are going to learn how to make professional web application development. We will start from the beginning level, but we will take our level at any enterprise level software development knowledge.</small></h4><br>
  <p>We are here to learn Angular. We hope to be master in angular in near future. But to do this We must need to do all assignment in time. We are here to learn Angular. We hope to be master in angular in near future.But to do this We must need to do all assignment in time. We are here to learn Angular. We hope to be master in angular in near future.</p>
</div>

